	.mediaViewInfo {
		--web-view-name: rubriques client – 9;
		--web-view-id: rubriques_client__9;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: rubriques_client__9;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#rubriques_client__9 {
		position: absolute;
		width: 1920px;
		height: 2541px;
		background-color: rgba(236,203,255,1);
		overflow: hidden;
		--web-view-name: rubriques client – 9;
		--web-view-id: rubriques_client__9;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#ID683501db752baa384a455ffff613 {
		position: absolute;
		width: 1920px;
		height: 2450px;
		left: 0px;
		top: 89px;
		overflow: visible;
	}
	#Rectangle_3_cb {
		fill: url(#Rectangle_3_cb);
	}
	.Rectangle_3_cb {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 88px;
		left: 0px;
		top: 0px;
	}
	#iconsocialnotifications_24px {
		position: absolute;
		width: 57px;
		height: 58px;
		left: 1700px;
		top: 16px;
		overflow: visible;
	}
	#Boundary {
		fill: transparent;
	}
	.Boundary {
		position: absolute;
		overflow: visible;
		width: 57px;
		height: 57px;
		left: 0px;
		top: 0px;
	}
	#_Color {
		fill: rgba(255,255,255,1);
	}
	._Color {
		overflow: visible;
		position: absolute;
		width: 50.316px;
		height: 54.779px;
		left: 3.246px;
		top: 1.623px;
		transform: matrix(1,0,0,1,0,0);
	}
	#icontogglestar_24px {
		position: absolute;
		width: 56.148px;
		height: 63.3px;
		left: 1792.412px;
		top: 11px;
		overflow: visible;
	}
	#Boundary_cg {
		fill: transparent;
	}
	.Boundary_cg {
		position: absolute;
		overflow: visible;
		width: 56px;
		height: 56px;
		left: -0.412px;
		top: 0px;
	}
	#_Color_ch {
		fill: rgba(255,255,255,1);
	}
	._Color_ch {
		overflow: visible;
		position: absolute;
		width: 54.273px;
		height: 59.242px;
		left: 1.875px;
		top: 4.059px;
		transform: matrix(1,0,0,1,0,0);
	}
	#question_answer-24px {
		position: absolute;
		width: 58.323px;
		height: 58.323px;
		left: 1606.035px;
		top: 17.492px;
		overflow: visible;
	}
	#Path_21 {
		fill: transparent;
	}
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 58.322px;
		height: 58.322px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_22 {
		fill: rgba(255,255,255,1);
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 48.602px;
		height: 48.602px;
		left: 4.859px;
		top: 4.859px;
		transform: matrix(1,0,0,1,0,0);
	}
	#account_circle-24px {
		position: absolute;
		width: 64.816px;
		height: 64.815px;
		left: 1505.797px;
		top: 14.246px;
		overflow: visible;
	}
	#Path_19 {
		fill: transparent;
	}
	.Path_19 {
		overflow: visible;
		position: absolute;
		width: 64.816px;
		height: 64.814px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20 {
		fill: rgba(255,255,255,1);
	}
	.Path_20 {
		overflow: visible;
		position: absolute;
		width: 54.014px;
		height: 54.012px;
		left: 5.402px;
		top: 5.402px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ma_maison {
		left: 465px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 147px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Acceuil {
		left: 234px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 95px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Toutes_les_annonces {
		left: 1086px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 265px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Ma_destination {
		filter: drop-shadow(-3px -3px 15px rgba(80, 80, 80, 0.549));
		left: 748px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Scroll_Group_35 {
		mix-blend-mode: normal;
		position: absolute;
		width: 1873.5px;
		height: 2408.805px;
		left: 28px;
		top: 88px;
		overflow: hidden;
	}
	#Group_17 {
		position: absolute;
		width: 1086.716px;
		height: 2268.643px;
		left: 0px;
		top: 123.797px;
		overflow: visible;
	}
	#Group_134 {
		position: absolute;
		width: 1086.716px;
		height: 2268.643px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Governorates_of_Tunisia_blank {
		position: absolute;
		width: 1086.716px;
		height: 2268.643px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#bizerte {
		position: absolute;
		width: 309.196px;
		height: 187.339px;
		left: 423.119px;
		top: 0.006px;
		overflow: visible;
	}
	#bizerte_cx {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.bizerte_cx {
		overflow: visible;
		position: absolute;
		width: 310.252px;
		height: 188.346px;
		left: -0.002px;
		top: -0.002px;
		transform: matrix(1,0,0,1,0,0);
	}
	#path1315 {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 2.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.path1315 {
		overflow: visible;
		position: absolute;
		width: 1089.184px;
		height: 2271.275px;
		left: 0.031px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#path2190 {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 2.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.path2190 {
		overflow: visible;
		position: absolute;
		width: 97.877px;
		height: 82.422px;
		left: 854.078px;
		top: 1100.735px;
		transform: matrix(1,0,0,1,0,0);
	}
	#kasserine {
		position: absolute;
		width: 279.458px;
		height: 354.461px;
		left: 207.695px;
		top: 498.059px;
		overflow: visible;
	}
	#kasserine_c {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.kasserine_c {
		overflow: visible;
		position: absolute;
		width: 280.457px;
		height: 355.467px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#nabeul {
		position: absolute;
		width: 201.416px;
		height: 230.81px;
		left: 757.293px;
		top: 79.633px;
		overflow: visible;
	}
	#nabeul_c {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.nabeul_c {
		overflow: visible;
		position: absolute;
		width: 202.416px;
		height: 231.867px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#tataouine {
		position: absolute;
		width: 795.243px;
		height: 966.508px;
		left: 230.604px;
		top: 1302.135px;
		overflow: visible;
	}
	#tataouine_c {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.tataouine_c {
		overflow: visible;
		position: absolute;
		width: 797.174px;
		height: 967.577px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#medenine {
		position: absolute;
		width: 483.978px;
		height: 465.21px;
		left: 602.729px;
		top: 1160.06px;
		overflow: visible;
	}
	#medenine_c {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.medenine_c {
		overflow: visible;
		position: absolute;
		width: 484.979px;
		height: 466.854px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#gabs {
		position: absolute;
		width: 320.236px;
		height: 323.411px;
		left: 466.865px;
		top: 974.238px;
		overflow: visible;
	}
	#gabs_c {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.gabs_c {
		overflow: visible;
		position: absolute;
		width: 321.656px;
		height: 324.477px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#kbili {
		position: absolute;
		width: 601.073px;
		height: 537.592px;
		left: 60.93px;
		top: 1002.392px;
		overflow: visible;
	}
	#kbili_db {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.kbili_db {
		overflow: visible;
		position: absolute;
		width: 602.699px;
		height: 538.62px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#tozeur {
		position: absolute;
		width: 310.714px;
		height: 357.223px;
		left: 0px;
		top: 895.646px;
		overflow: visible;
	}
	#tozeur_dd {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.tozeur_dd {
		overflow: visible;
		position: absolute;
		width: 311.713px;
		height: 358.959px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#gafsa {
		position: absolute;
		width: 410.63px;
		height: 212.112px;
		left: 140.557px;
		top: 827.748px;
		overflow: visible;
	}
	#gafsa_df {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.gafsa_df {
		overflow: visible;
		position: absolute;
		width: 411.875px;
		height: 213.228px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sfax {
		position: absolute;
		width: 343.491px;
		height: 346.596px;
		left: 593.344px;
		top: 671.391px;
		overflow: visible;
	}
	#sfax_dh {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.sfax_dh {
		overflow: visible;
		position: absolute;
		width: 344.49px;
		height: 347.717px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#mahdia {
		position: absolute;
		width: 257.651px;
		height: 156.151px;
		left: 713.547px;
		top: 562.092px;
		overflow: visible;
	}
	#mahdia_dj {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.mahdia_dj {
		overflow: visible;
		position: absolute;
		width: 258.912px;
		height: 157.151px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#monastir {
		position: absolute;
		width: 142.901px;
		height: 108.61px;
		left: 800.145px;
		top: 495.644px;
		overflow: visible;
	}
	#monastir_dl {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.monastir_dl {
		overflow: visible;
		position: absolute;
		width: 144.508px;
		height: 110.076px;
		left: 0px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#kairouan {
		position: absolute;
		width: 273.659px;
		height: 363.017px;
		left: 473.145px;
		top: 384.965px;
		overflow: visible;
	}
	#kairouan_dn {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.kairouan_dn {
		overflow: visible;
		position: absolute;
		width: 274.969px;
		height: 364.532px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sousse {
		position: absolute;
		width: 142.627px;
		height: 271.59px;
		left: 707.336px;
		top: 308.511px;
		overflow: visible;
	}
	#sousse_dp {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.sousse_dp {
		overflow: visible;
		position: absolute;
		width: 143.814px;
		height: 273.102px;
		left: 0px;
		top: 0.001px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sidi_bouzid {
		position: absolute;
		width: 330.724px;
		height: 405.246px;
		left: 353.15px;
		top: 590.176px;
		overflow: visible;
	}
	#sidi_bouzid_dr {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.sidi_bouzid_dr {
		overflow: visible;
		position: absolute;
		width: 332.076px;
		height: 406.584px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#siliana {
		position: absolute;
		width: 225.91px;
		height: 316.855px;
		left: 376.818px;
		top: 282.566px;
		overflow: visible;
	}
	#siliana_dt {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.siliana_dt {
		overflow: visible;
		position: absolute;
		width: 227.379px;
		height: 318.367px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#kef {
		position: absolute;
		width: 237.297px;
		height: 255.721px;
		left: 204.59px;
		top: 292.57px;
		overflow: visible;
	}
	#kef_dv {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.kef_dv {
		overflow: visible;
		position: absolute;
		width: 238.299px;
		height: 256.864px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#zaghouan {
		position: absolute;
		width: 213.905px;
		height: 204.521px;
		left: 552.771px;
		top: 218.602px;
		overflow: visible;
	}
	#zaghouan_dx {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.zaghouan_dx {
		overflow: visible;
		position: absolute;
		width: 215.35px;
		height: 205.521px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ben_arous {
		position: absolute;
		width: 119.166px;
		height: 107.711px;
		left: 658.137px;
		top: 179.547px;
		overflow: visible;
	}
	#ben_arous_dz {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.ben_arous_dz {
		overflow: visible;
		position: absolute;
		width: 120.371px;
		height: 108.766px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#jandouba {
		position: absolute;
		width: 238.816px;
		height: 218.184px;
		left: 184.303px;
		top: 103.438px;
		overflow: visible;
	}
	#path2289 {
		fill: rgba(55,32,132,1);
	}
	.path2289 {
		overflow: visible;
		position: absolute;
		width: 238.816px;
		height: 218.185px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#tunis {
		position: absolute;
		width: 89.011px;
		height: 69.07px;
		left: 672.975px;
		top: 141.734px;
		overflow: visible;
	}
	#tunis_d {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.tunis_d {
		overflow: visible;
		position: absolute;
		width: 90.172px;
		height: 70.205px;
		left: -0.002px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ariana {
		position: absolute;
		width: 96.463px;
		height: 99.914px;
		left: 655.793px;
		top: 70.248px;
		overflow: visible;
	}
	#ariana_d {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.ariana_d {
		overflow: visible;
		position: absolute;
		width: 97.762px;
		height: 101.041px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#manouba {
		position: absolute;
		width: 135.864px;
		height: 130.069px;
		left: 548.563px;
		top: 121.793px;
		overflow: visible;
	}
	#manouba_d {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.manouba_d {
		overflow: visible;
		position: absolute;
		width: 137.182px;
		height: 131.275px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#beja {
		position: absolute;
		width: 251.718px;
		height: 259.929px;
		left: 375.574px;
		top: 55.482px;
		overflow: visible;
	}
	#path2304 {
		fill: rgba(105,160,200,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.path2304 {
		overflow: visible;
		position: absolute;
		width: 253.238px;
		height: 261.065px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_11 {
		position: absolute;
		width: 827px;
		height: 1651px;
		left: 100px;
		top: 69.203px;
		overflow: visible;
	}
	#Group_2 {
		position: absolute;
		width: 827px;
		height: 1651px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 827px;
		height: 1651px;
		left: 0px;
		top: -0.002px;
		overflow: visible;
	}
	#Path_1 {
		fill: rgba(255,255,255,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1px;
		left: 294.305px;
		top: 559.735px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Bizerte_ee {
		left: 410px;
		top: 0.002px;
		position: absolute;
		overflow: visible;
		width: 76px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Ariana_ef {
		left: 562px;
		top: 49.002px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Tunis_eg {
		transform: translate(63.666px, -3.768px) matrix(1,0,0,1,511.0616,98.1589) rotate(-15deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Manouba_eh {
		transform: translate(63.666px, -3.768px) matrix(1,0,0,1,401.77,87.3298) rotate(0deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 102px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Bja {
		left: 383px;
		top: 134.002px;
		position: absolute;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Jandouba_ej {
		left: 176px;
		top: 138.002px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Kef_ek {
		left: 184px;
		top: 317.001px;
		position: absolute;
		overflow: visible;
		width: 36px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Siliana_el {
		left: 370px;
		top: 317.001px;
		position: absolute;
		overflow: visible;
		width: 72px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Zaghouan_em {
		left: 508px;
		top: 246.001px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Ben_Arous_en {
		transform: translate(63.666px, -3.768px) matrix(1,0,0,1,541.3345,126.7676) rotate(0deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Nabeul_eo {
		left: 708px;
		top: 134.002px;
		position: absolute;
		overflow: visible;
		width: 80px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Sousse_ep {
		left: 629px;
		top: 377.001px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Monastir_eq {
		left: 725px;
		top: 472.001px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(255,255,255,1);
	}
	#Kairouan_er {
		left: 472px;
		top: 459.001px;
		position: absolute;
		overflow: visible;
		width: 99px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Kasserine_es {
		left: 184px;
		top: 583.001px;
		position: absolute;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Sidi_Bouzid_et {
		left: 374px;
		top: 732.001px;
		position: absolute;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Sfax_eu {
		left: 629px;
		top: 732.001px;
		position: absolute;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(255,255,255,1);
	}
	#Gafsa_ev {
		left: 209px;
		top: 823.001px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Gabs_ew {
		left: 450px;
		top: 1024.001px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Medenine_ex {
		left: 683px;
		top: 1174.001px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Kbili_ey {
		left: 227px;
		top: 1189.001px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Tozeur_ez {
		left: 0px;
		top: 974.001px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Tataouine_e {
		left: 449px;
		top: 1618.001px;
		position: absolute;
		overflow: visible;
		width: 107px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
	}
	#Mahdia_e {
		left: 678px;
		top: 540.999px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(255,255,255,1);
	}
	#Cherchez_votre_destination {
		left: 10px;
		top: 20px;
		position: absolute;
		overflow: visible;
		width: 568px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(255,255,255,1);
	}
	#Line_45 {
		opacity: 0;
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_45 {
		overflow: visible;
		position: absolute;
		width: 38px;
		height: 1px;
		left: 1835.5px;
		top: 123.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_433 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1106px;
		top: 265px;
		overflow: visible;
	}
	#Ellipse_15_e {
		fill: url(#Ellipse_15_e);
	}
	.Ellipse_15_e {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Vtements_traditionnels {
		left: 34px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 241px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#Group_434 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1106px;
		top: 375px;
		overflow: visible;
	}
	#Ellipse_15_fb {
		fill: url(#Ellipse_15_fb);
	}
	.Ellipse_15_fb {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Voyages_virtuels {
		left: 73px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 165px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#Group_435 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1106px;
		top: 154px;
		overflow: visible;
	}
	#Ellipse_15_fe {
		fill: url(#Ellipse_15_fe);
	}
	.Ellipse_15_fe {
		filter: drop-shadow(-6px 6px 6px rgba(109, 109, 109, 1));
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 100px;
		left: 0px;
		top: 0px;
	}
	#Sites_archologiques {
		left: 48px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 210px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#Group_436 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1493px;
		top: 154px;
		overflow: visible;
	}
	#Ellipse_15_fi {
		fill: url(#Ellipse_15_fi);
	}
	.Ellipse_15_fi {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Plats_tradionnels {
		left: 72px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#Group_437 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1493px;
		top: 265px;
		overflow: visible;
	}
	#Ellipse_15_fm {
		fill: url(#Ellipse_15_fm);
	}
	.Ellipse_15_fm {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Produits_artisanaux {
		left: 56px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 194px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#Group_438 {
		position: absolute;
		width: 327px;
		height: 82px;
		left: 1493px;
		top: 375px;
		overflow: visible;
		transition: all 0.3s ease-out;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: rubriques_client___11.html;
		cursor: pointer;
	}
	#Ellipse_15_fq {
		fill: url(#Ellipse_15_fq);
	}
	.Ellipse_15_fq {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Maisons_disponibles {
		left: 51px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		color: rgba(255,255,255,1);
	}
	#iconnavigationchevron_right_24 {
		position: absolute;
		width: 143px;
		height: 143px;
		left: 1777px;
		top: 682px;
		overflow: visible;
	}
	#Boundary_ft {
		fill: transparent;
	}
	.Boundary_ft {
		position: absolute;
		overflow: visible;
		width: 143px;
		height: 143px;
		left: 0px;
		top: 0px;
	}
	#_Color_fu {
		fill: rgba(239,101,138,1);
	}
	._Color_fu {
		overflow: visible;
		position: absolute;
		width: 44.336px;
		height: 71.895px;
		left: 51.523px;
		top: 35.947px;
		transform: matrix(1,0,0,1,0,0);
		transition: all 0.3s ease-out;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: rubriques_client___10.html;
		cursor: pointer;
	}
	#iconnavigationchevron_right_24_fv {
		opacity: 0.4;
		position: absolute;
		width: 143px;
		height: 143px;
		left: 975px;
		top: 682px;
		overflow: visible;
	}
	#Boundary_fw {
		fill: transparent;
	}
	.Boundary_fw {
		position: absolute;
		overflow: visible;
		width: 143px;
		height: 143px;
		left: 0px;
		top: 0px;
	}
	#_Color_fx {
		fill: rgba(239,101,138,1);
	}
	._Color_fx {
		overflow: visible;
		position: absolute;
		width: 44.336px;
		height: 71.895px;
		left: 47.141px;
		top: 35.947px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_439 {
		position: absolute;
		width: 659px;
		height: 466px;
		left: 1118px;
		top: 540px;
		overflow: visible;
	}
	#Site_archologique_de_Bulla_Reg {
		left: 33px;
		top: 415px;
		position: absolute;
		overflow: visible;
		width: 561px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue LT Std;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(255,255,255,1);
	}
	#bulla-regia {
		position: absolute;
		width: 659px;
		height: 388px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#GO_SWITCH {
		left: 31px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 150px;
		white-space: nowrap;
		text-align: center;
		font-family: Monotype Corsiva;
		font-style: normal;
		font-weight: normal;
		font-size: 41px;
		color: rgba(239,101,138,1);
	}
