
<div id="demande">
	<img id="ID683501db752baa384a455ffff613" src="assets/img/home/ID683501db752baa384a455ffff613.png" srcset="assets/img/home/ID683501db752baa384a455ffff613.png 1x">
		
	
	<div id="Demande_dchange">
		<span>Demande d'échange</span>
	</div>
		<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
			<div id="Groupe_613">
				<div id="Groupe_206">
					<svg class="Rectangle_66">
						<rect id="Rectangle_66" rx="76" ry="76" x="0" y="0" width="888" height="713">
						</rect>
					</svg>
				</div>
				<div id="Groupe_612">
					
					<!--------- num tel ---------->
					<div id="Groupe_608">
						<div id="Numro_de_tlphone">
							<span>Numéro de téléphone</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_21">
							<div>
								<input type="text" class ="nom-css" placeholder="num-tel" name="numTel" [(ngModel)]="model.numTel"
								#numTel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numTel.invalid }" required numTel>
									<div *ngIf="f.submitted && numTel.invalid" class="invalid-feedback">
										<div *ngIf="numTel.errors.required">Num Tel is required</div>
										<div *ngIf="numTel.errors.numTel">Num Tel must be valid</div>
									</div>
							</div>
						</div>
					</div>
					<!--------- nom ---------->
					<div id="Groupe_607">
						<div id="Nom">
							<span>Nom</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_26">
							<div>
								<input  type="text" class ="nom-css" placeholder="nom" name="nom" [(ngModel)]="model.nom"
								#nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required nom>
									<div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
										<div *ngIf="nom.errors.required">Nom Tel is required</div>
										<div *ngIf="nom.errors.nom">Nom Tel must be valid</div>
									</div>
							</div>
						
						</div>
					</div>
					<!--------- email ---------->	
					<div id="Groupe_609">
						<div id="E-mail">
							<span>E-mail</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_24">

							<div>
								<input  type="email" class ="nom-css" placeholder="e-mail" name="email" [(ngModel)]="model.email"
								#email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
									<div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
										<div *ngIf="email.errors.required">email is required</div>
										<div *ngIf="email.errors.email">email must be valid</div>
									</div>
							</div>
							

						</div>
					</div>
					<!--------- heébergement ---------->
					<div id="Groupe_644">
						<div id="Hbrgement">
							<span>Hébérgement</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_24_dm">
							<div>
								<input  type="time" class ="nom-css" name="heberg" [(ngModel)]="model.heberg"
								#heberg="ngModel" [ngClass]="{ 'is-invalid': f.submitted && heberg.invalid }" required heberg>
									<div *ngIf="f.submitted && heberg.invalid" class="invalid-feedback-time">
										<div *ngIf="heberg.errors.required">Time is required</div>
										
									</div>
							</div>

						</div>
						<div class="Rectangle_283">
							<div>
								<input  type="time" class ="nom-css" name="heberg1" [(ngModel)]="model.heberg1"
								#heberg1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && heberg1.invalid }" required heberg1 >
									<div *ngIf="f.submitted && heberg1.invalid" class="invalid-feedback-time">
										<div *ngIf="heberg1.errors.required">Time is required</div>
									</div>
							</div>
						</div>
						<div id="De">
							<span>De</span>
						</div>
						<div id="aaa">
							<span>à</span>
						</div>
					</div>
					<!--------- annonce ---------->
					<div id="Groupe_645">
						<div id="Votre_annonce_N">
							<span>Numéro de l'annonce</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_24_ds">
							<div>
								<input  type="text" class ="nom-css" placeholder="numéro de l'annonce" name="annonce" [(ngModel)]="model.annonce"
								#annonce="ngModel" [ngClass]="{ 'is-invalid': f.submitted && annonce.invalid }" required annonce>
									<div *ngIf="f.submitted && annonce.invalid" class="invalid-feedback">
										<div *ngIf="annonce.errors.required">Num annonce is required</div>
										<div *ngIf="annonce.errors.annonce">Num annonce must be valid</div>
									</div>
							</div>
						</div>
					</div>
					<!--------- sujet ---------->
					<div id="Groupe_610">
						<div id="Sujet">
							<span>Sujet</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_24_dv">
							<div>
								<input  type="text" class ="nom-css" placeholder="sujet de l'annonce" name="sujet" [(ngModel)]="model.sujet"
								#sujet="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sujet.invalid }" required sujet>
									<div *ngIf="f.submitted && sujet.invalid" class="invalid-feedback">
										<div *ngIf="sujet.errors.required">Subject is required</div>
										<div *ngIf="sujet.errors.sujet">Subject must be valid</div>
									</div>
							</div>
						</div>
					</div>
					<!--------- message ---------->
					<div id="Groupe_611">
						<div id="Message">
							<span>Message</span><span style="color:rgba(114,114,114,1);">*</span>
						</div>
						<div class="Rectangle_24_dy">
							<div>
								<input  type="text" class ="nom-css" placeholder="sujet de l'annonce" name="message" [(ngModel)]="model.message"
								#message="ngModel" [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required message>
									<div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
										<div *ngIf="message.errors.required">Message is required</div>
										<div *ngIf="message.errors.message">Message must be valid</div>
									</div>
							</div>
						</div>
					</div>
				
				</div>
				
			</div>
			<div id="Groupe_166">		
				<div>
					<button id="envoyer">Envoyer</button>
				</div>

			</div>
		</form>
	<div id="_champ_obligatoire">
		<span>* champ obligatoire</span>
	</div>

	<app-header></app-header>

</div>
