<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/validateHome">
            <span data-feather="file"></span>
            Maisons à postuler
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/validateEchange">
            <span data-feather="shopping-cart"></span>
            Demande d'échange
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/listClient">
            <span data-feather="users"></span>
            liste des clients
          </a>
        </li>

        </ul>
    </div>
</nav>