<body>
	<div id="connexion">
		<img id="ID683501db752baa384a455ffff613" src="assets/img/home/ID683501db752baa384a455ffff613.png" srcset="assets/img/home/ID683501db752baa384a455ffff613.png 1x">
			
			<div id="Groupe_236">
			<svg class="Rectangle_66">
				<rect id="Rectangle_66" rx="76" ry="76" x="0" y="0" width="645" height="873">
				</rect>
			</svg>
			<div id="Groupe_235">
				<div id="Connexion_gz">
					<span>Connexion</span>
				</div>
				<div id="Groupe_234">
					<div >
						<button id="Rectangle_60">
						Connexion</button>
					</div>
				</div>
				<div id="Groupe_221">
					<div class="Rectangle_24_g">
						<div id="Rectangle_24_g">
							<div >
								<input id="E-mail" type="password" class="E-mail" placeholder="Mot de passe" required>
							</div>
						</div>
				</div>
				</div>

				<div id="Groupe_222">									
						<div class="Rectangle_24_g">
								<div id="Rectangle_24_g">
									<div >
										<input id="E-mail" type="text" class="E-mail" placeholder="e-mail"required>
									</div>
								</div>
						</div>
				</div>

				<div id="Groupe_188">
					<a routerLink="/register">
					<div id="Groupe_165">
						<div id="Groupe_112">
							<svg class="Rectangle_11">
								<rect id="Rectangle_11" rx="32" ry="32" x="0" y="0" width="339" height="64">
								</rect>
							</svg>
						</div>
						
						<div id="Sinscrire">
							<span>S'inscrire</span>
						</div>
					
					</div>
					</a>
					<div id="Vous_navez_pas_de_compte__Insc">
						<span>Vous n'avez pas de compte ?</span><br/><br>  <span> Inscrivez-vous</span>
					</div>
				</div>
				<div id="Mot_de_passe_oubli_">
					<a routerLink=""> <span>Mot de passe oublié ?</span></a>
				</div>
			</div>
		</div>
	
		<app-header></app-header>
		
	</div>
	</body>
	
